:root {
    --color-numbers: #56d9d3;
    --color-bar: #3b7876;
    --color-background: #ecd6e0;
    --color-word: #9dece6;
}

html {
    font-size: 100%;
}

h1 {
    font-family: 'Mohave', sans-serif;
    text-align: center;
    font-size: calc(5rem + 3vw);
}

main {
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--color-background);
    margin: 0; /* prevent browser default */
}

section {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.word-container {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    --initial-word-scale: 6rem;
    --word-scale: 6.667rem;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: var(--word-scale);
    height: var(--word-scale);
    margin: auto;
}

.timer {
    --percent: 30%;
    font-size: 5em;
    color: var(--color-numbers);
    padding: 1em;
    background:  linear-gradient(to bottom, var(--color-bar) 0%, var(--color-bar) 100%) no-repeat;
    background-size: 100% calc(var(--percent));
    background-position: bottom;
}

.board {
}

button {
    padding: 0.6em;
    margin: 1em;

}
